<!-- Include bundled scripts and styles -->
<link rel="stylesheet" type="text/css" href="/styles/entry.bundle.css" />

<div id="app"></div>
<script type="text/javascript" src="/js/bundle.js"></script>
